<template>
    <div class="app-dropdown-item">
        <app-button type="button"
                    size="medium"
                    variant="tertiary"
                    extra="text-default"
                    v-on="$listeners"
                    v-bind="$attrs">
            <slot name="icon"></slot>
            <div class="app-dropdown-item__text">
                <slot></slot>
            </div>
            <slot name="icon-right"></slot>
        </app-button>
    </div>
</template>

<script>
import AppButton from '~/components/AppButton.vue';

export default {
    components: {
        AppButton
    }
};
</script>

<style lang="stylus" scoped>
.app-dropdown-item {
    >>> .app-button {
        display: block;
        width: 100%;
        padding: 0 20px;

        &__container {
            justify-content: flex-start;
        }
    }

    >>> .app-icon {
        color: var(--color-brand);

        &:last-child {
            margin-left: auto !important;
        }
    }

    &__text {
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
</style>
