<template>
    <section class="container">
        <div class="head">Typography</div>
        <div class="section">
            <app-article>
                <h1>First Heading</h1>
                <h2>Second Heading</h2>
                <h3>Third Heading</h3>
                <h4>Fourth heading</h4>
                <h5>Fifth heading</h5>
                <h6>Section heading</h6>
                <blockquote>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta totam necessitatibus eligendi blanditiis sequi inventore est quasi molestiae. Suscipit doloribus eos enim consequatur omnis ipsum inventore hic quas magni dolore.
                </blockquote>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae error numquam unde aliquid nobis repellat placeat voluptas fugit beatae et. Labore aliquam repudiandae repellat illum exercitationem expedita ipsam magnam suscipit.
                </p>
                <p>
                    Do you have a account?
                    <a href="#">Yes, i do</a>
                </p>
                <ul>
                    <li>Item list</li>
                    <li>Item list</li>
                    <li>Item list</li>
                    <li>Item list</li>
                    <li>Item list</li>
                </ul>
                <ol>
                    <li>Item list</li>
                    <li>Item list</li>
                    <li>Item list</li>
                    <li>Item list</li>
                    <li>Item list</li>
                </ol>
            </app-article>
        </div>
        <div class="head">Buttons</div>
        <div class="section">
            <div class="section__item">
                <app-button>Default</app-button>
            </div>
            <div class="section__item">
                <app-button size="medium">
                    Medium
                </app-button>
            </div>
            <div class="section__item">
                <app-button size="small">Small</app-button>
            </div>
            <div class="section__item">
                <app-button variant="secondary">Secondary</app-button>
            </div>
            <div class="section__item">
                <app-button variant="tertiary">Tertiary</app-button>
            </div>
            <div class="section__item">
                <app-button :disabled="true">Disabled</app-button>
            </div>
            <div class="section__item">
                <app-button :loading="true">Loading</app-button>
            </div>
        </div>
        <div class="head">Checkbox / Radio</div>
        <div class="section">
            <div class="section__item">
                <app-input-box type="checkbox"
                               v-model="checked">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem consequatur necessitatibus ullam culpa incidunt. Sint, perspiciatis. Ex rerum quos fugit, id obcaecati ducimus deleniti quisquam quo veritatis porro placeat libero.
                </app-input-box>
            </div>
            <div class="section__item">
                <app-input-box type="radio"
                               v-model="radio"
                               default-value="test1">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem consequatur necessitatibus ullam culpa incidunt. Sint, perspiciatis. Ex rerum quos fugit, id obcaecati ducimus deleniti quisquam quo veritatis porro placeat libero.
                </app-input-box>
            </div>
            <div class="section__item">
                <app-input-box type="checkbox"
                               v-model="checked"
                               :disabled="true">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem consequatur necessitatibus ullam culpa incidunt. Sint, perspiciatis. Ex rerum quos fugit, id obcaecati ducimus deleniti quisquam quo veritatis porro placeat libero.
                </app-input-box>
            </div>
            <div class="section__item">
                <app-input-box type="radio"
                               default-value="test1"
                               v-model="radio"
                               :disabled="true">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem consequatur necessitatibus ullam culpa incidunt. Sint, perspiciatis. Ex rerum quos fugit, id obcaecati ducimus deleniti quisquam quo veritatis porro placeat libero.
                </app-input-box>
            </div>
        </div>
        <div class="head">Range</div>
        <div class="section">
            <p>Value: {{ range1 }}</p>
            <div class="section__item">
                <app-range :min="12"
                           :max="124"
                           v-model="range1"></app-range>
            </div>
            <p>Value: {{ range2 }}</p>
            <div class="section__item">
                <app-range :min="1"
                           :max="125"
                           v-model="range2"></app-range>
            </div>
        </div>
        <div class="head">
            Field
        </div>
        <div class="section">
            <div class="section__item">
                <app-input type="text"
                           v-model="input"
                           placeholder="Placeholder"></app-input>
            </div>
            <div class="section__item">
                <app-label>Labeled</app-label>
                <app-input type="text"
                           v-model="input"
                           placeholder="Placeholder"></app-input>
            </div>
            <div class="section__item">
                <app-label>Labeled</app-label>
                <app-input type="text"
                           v-model="input"
                           placeholder="Placeholder"></app-input>
                <app-input-helper>Helper text</app-input-helper>
            </div>
            <div class="section__item">
                <app-label>Disabled</app-label>
                <app-input type="text"
                           v-model="input"
                           placeholder="Placeholder"
                           :disabled="true"></app-input>
            </div>
            <div class="section__item">
                <app-label>Readonly</app-label>
                <app-input type="text"
                           v-model="input"
                           placeholder="Placeholder"
                           :readonly="true"></app-input>
            </div>
        </div>
        <div class="head">
            Select
        </div>
        <div class="section">
            <div class="section__item">
                <app-label>Single</app-label>
                <app-select :options="options"
                            v-model="select1"
                            placeholder="Select item">
                    <template v-slot:option="{ value, label }">
                        ! {{ label }} !
                    </template>
                </app-select>
            </div>
            <div class="section__item">
                <app-label>Multiple</app-label>
                <app-select :options="options"
                            v-model="select2"
                            :multiple="true"
                            placeholder="Select multiple items">
                    <template v-slot:option="{ value }">
                        ! {{ value }} !
                    </template>
                </app-select>
            </div>
        </div>
        <div class="head">
            Dropdown
        </div>
        <div class="head">
            Textarea
        </div>
        <div class="section">
            <div class="section__item">
                <app-label>Labeled</app-label>
                <app-textarea v-model="textarea"
                              placeholder="Placeholder"></app-textarea>
            </div>
            <div class="section__item">
                <app-label>Disabled</app-label>
                <app-textarea v-model="textarea"
                              placeholder="Placeholder"
                              :disabled="true"></app-textarea>
            </div>
            <div class="section__item">
                <app-label>Readonly</app-label>
                <app-textarea v-model="textarea"
                              placeholder="Placeholder"
                              :readonly="true"></app-textarea>
            </div>
        </div>
    </section>
</template>

<script>
import AppArticle from '~/components/AppArticle.vue';
import AppButton from '~/components/AppButton.vue';
import AppIcon from '~/components/AppIcon.vue';
import AppInputBox from '~/components/AppInputBox.vue';
import AppSwitch from '~/components/AppSwitch.vue';
import AppRange from '~/components/AppRange.vue';
import AppInput from '~/components/AppInput.vue';
import AppLabel from '~/components/AppLabel.vue';
import AppInputHelper from '~/components/AppInputHelper.vue';
import AppTextarea from '~/components/AppTextarea.vue';
import AppSelect from '~/components/AppSelect.vue';

export default {
    components: {
        AppArticle,
        AppButton,
        AppIcon,
        AppInputBox,
        AppSwitch,
        AppRange,
        AppInput,
        AppLabel,
        AppInputHelper,
        AppTextarea,
        AppSelect
    },
    data() {
        return {
            checked: true,
            radio: null,
            switchv: false,
            range1: 12,
            range2: [12, 24],
            input: '',
            textarea: '',
            options: [
                {
                    value: 'value11',
                    label: 'Value one'
                },
                {
                    value: 'value2',
                    label: 'Value two'
                },
                {
                    value: 'value3',
                    label: 'Value three'
                },
                {
                    value: 'value4',
                    label: 'Value four'
                }
            ],
            select1: '',
            select2: []
        };
    },
    methods: {
        click() {
            console.log('click');
        }
    }
};
</script>

<style lang="stylus">
.container {
    padding: 40px;

    .head {
        make-h3();
        margin-bottom: 48px;
    }

    .section {
        &:not(:last-child) {
            margin-bottom: 80px;
        }

        &__item {
            &:not(:last-child) {
                margin-bottom: 32px;
            }
        }
    }
}
</style>

