make-h1($indents = false) {
    font-size: $font-size-xxlarge;
    font-weight: $font-weight-bold;
    line-height: unit((56 / $font-size-xxlarge), '');

    if ($indents == true) {
        &:not(:first-child) {
            margin-top: 48px;
        }

        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }
}

make-h2($indents = false) {
    font-size: $font-size-xlarge;
    font-weight: $font-weight-bold;
    line-height: unit((42 / $font-size-xlarge), '');

    if ($indents == true) {
        &:not(:first-child) {
            margin-top: 40px;
        }

        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }
}

make-h3($indents = false) {
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    line-height: unit((32 / $font-size-large), '');

    if ($indents == true) {
        &:not(:first-child) {
            margin-top: 32px;
        }

        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }
}

make-h4($indents = false) {
    font-size: $font-size-xmedium;
    font-weight: $font-weight-bold;
    line-height: unit((24 / $font-size-xmedium), '');

    if ($indents == true) {
        &:not(:first-child) {
            margin-top: 32px;
        }

        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }
}

make-h5($indents = false) {
    font-weight: $font-weight-bold;

    if ($indents == true) {
        &:not(:first-child) {
            margin-top: 24px;
        }

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
}

make-h6($indents = false) {
    font-size: $font-size-small;
    make-spacing-text();

    if ($indents == true) {
        &:not(:first-child) {
            margin-top: 24px;
        }

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
}

make-spacing-text() {
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

make-link() {
    color: var(--color-brand);
    font-weight: $font-weight-bold;

    &:hover {
        color: var(--color-brand-hover);
        text-decoration: underline;
    }
}

make-to-touch() {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
}

make-no-select() {
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

set-placeholder-color($color) {
    &::placeholder {
        color: $color;
        opacity: 1;
    }

    &:-ms-input-placeholder {
        color: $color;
    }

    &::-ms-input-placeholder {
        color: $color;
    }
}