<template>
    <div class="app-article">
        <slot></slot>
    </div>
</template>

<style lang="stylus" scoped>
.app-article {
    h1 {
        make-h1(true);
    }

    h2 {
        make-h2(true);
    }

    h3 {
        make-h3(true);
    }

    h4 {
        make-h4(true);
    }

    h5 {
        make-h5(true);
    }

    h6 {
        make-h6(true);
    }

    blockquote {
        font-size: $font-size-medium;

        &:before, &:after {
            content: '"';
        }

        &:not(:first-child) {
            margin-top: 16px;
        }

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    p {
        &:not(:first-child) {
            margin-top: 16px;
        }

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    a {
        make-link();
    }

    ul, ol {
        &:not(:first-child) {
            margin-top: 24px;
        }

        &:not(:last-child) {
            margin-bottom: 24px;
        }

        > li {
            margin-left: 1em;

            &:not(:last-child) {
                margin-bottom: 12px;
            }
        }
    }

    ul {
        > li {
            list-style: disc;
        }
    }

    ol {
        > li {
            list-style: decimal;
        }
    }
}
</style>
