<template>
    <button class="app-button"
            :class="computedClass"
            :disabled="isDisabled"
            v-on="$listeners">
        <div class="app-button__container">
            <slot></slot>
        </div>
        <div class="app-button__loading"
             v-if="loading">
            ...
        </div>
    </button>
</template>

<script>
export default {
    props: {
        size: {
            type: String,
            default: 'large',
            validator: (value) => ['large', 'medium', 'small'].includes(value)
        },
        variant: {
            type: String,
            default: 'primary',
            validator: (value) => ['primary', 'secondary', 'tertiary'].includes(value)
        },
        extra: {
            type: String,
            default: '',
            validator: (value) => ['text-default', ''].includes(value)
        },
        squared: {
            type: Boolean,
            default: false
        },
        active: {
            type: Boolean,
            default: false
        },
        disabled: {
            type: Boolean,
            default: false
        },
        loading: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        computedClass() {
            const size = `app-button--size-${this.size}`;
            const variant = `app-button--variant-${this.variant}`;
            const extra = `app-button--extra-${this.extra}`;
            const squared = this.squared ? `app-button--squared` : '';
            const active = this.active ? `app-button--active` : '';
            const disabled = this.isDisabled ? `app-button--disabled` : '';
            const loading = this.loading ? `app-button--loading` : '';

            return [size, variant, extra, squared, active, disabled, loading];
        },
        isDisabled() {
            return this.disabled || this.loading;
        }
    }
};
</script>

<style lang="stylus" scoped>
.app-button {
    display: inline-block;
    font-weight: $font-weight-bold;
    position: relative;

    is-squared() {
        &.app-button--squared {
            {block};
        }
    }

    is-not-squared() {
        &:not(.app-button--squared) {
            {block};
        }
    }

    is-active() {
        &.app-button--active {
            {block};
        }
    }

    is-disabled() {
        &.app-button--disabled {
            {block};
        }
    }

    is-not-disabled() {
        &:not(.app-button--disabled) {
            {block};
        }
    }

    is-loading() {
        &.app-button--loading {
            {block};
        }
    }

    is-not-text-default() {
        .app-button:not(.app-button--extra-text-default)& {
            {block};
        }
    }

    &--size {
        &-large {
            height: $button-size-large;

            +is-not-squared() {
                padding-left: 32px;
                padding-right: 32px;
            }

            +is-squared() {
                width: $button-size-large;
            }
        }

        &-medium {
            height: $button-size-medium;

            +is-not-squared() {
                padding-left: 24px;
                padding-right: 24px;
            }

            +is-squared() {
                width: $button-size-medium;
            }
        }

        &-small {
            height: $button-size-small;

            +is-not-squared() {
                padding-left: 16px;
                padding-right: 16px;
            }

            +is-squared() {
                width: $button-size-small;
            }
        }
    }

    +is-not-disabled() {
        cursor: pointer;

        &.app-button--variant {
            &-primary {
                color: var(--color-white);
                background-color: var(--color-brand);

                &:hover {
                    background-color: var(--color-brand-hover);
                }
            }

            &-secondary {
                background-color: var(--color-white);
                color: var(--color-brand);
                box-shadow: inset 0 0 0 2px var(--color-gray-3);

                &:hover {
                    background-color: var(--color-gray-3);
                }

                +is-active() {
                    box-shadow: none;
                    color: var(--color-white);
                    background-color: var(--color-brand);

                    &:hover {
                        background-color: var(--color-brand-hover);
                    }
                }
            }

            &-tertiary {
                background-color: var(--color-white);

                +is-not-text-default() {
                    color: var(--color-brand);
                }

                &:hover {
                    background-color: var(--color-gray-3);
                }

                +is-active() {
                    color: var(--color-white);
                    background-color: var(--color-brand);

                    &:hover {
                        background-color: var(--color-brand-hover);
                    }
                }
            }
        }
    }

    +is-disabled() {
        cursor: default;
        background-color: var(--color-gray-3);
        color: var(--color-gray-2);
    }

    &__container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    +is-loading() {
        .app-button__container {
            opacity: 0;
        }
    }

    &__loading {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-gray-1);
    }

    +is-not-squared() {
        >>> .app-icon {
            &:not(:first-child) {
                margin-left: 14px;
            }

            &:not(:last-child) {
                margin-right: 14px;
            }
        }
    }
}
</style>
