<template>
    <app-attach class="app-dropdown"
                :class="computedClass"
                :target="target"
                :direction="direction"
                :corner="corner"
                :delay-in="delayIn"
                :delay-out="delayOut"
                :trigger="trigger"
                :transition="transition"
                ref="attach"
                @show="onShow"
                @hide="onHide">
        <div class="app-dropdown__container">
            <slot></slot>
        </div>
    </app-attach>
</template>

<script>
import AppAttach from '~/components/AppAttach.vue';

import ResizeObserver from 'resize-observer-polyfill';

export default {
    components: {
        AppAttach
    },
    props: {
        target: {},
        direction: {
            default: 'bottom',
            validator: (value) => ['top', 'bottom'].includes(value)
        },
        corner: {
            default: 'left'
        },
        delayIn: {
            default: 100
        },
        delayOut: {
            default: 400
        },
        trigger: {},
        transition: {
            default: 'app-dropdown-tr'
        },
        width: {
            type: String,
            default: 'small',
            validator: (value) => ['large', 'small', 'fill', 'custom'].includes(value)
        }
    },
    data() {
        return {
            ro$: null
        };
    },
    computed: {
        computedClass() {
            const width = `app-dropdown--width-${this.width}`;

            return [width];
        }
    },
    methods: {
        hide() {
            const $attach = this.$refs.attach;
            $attach.hide();
        },
        fillWidth() {
            const $attach = this.$refs.attach;
            if ($attach.$el.style) {
                const $target = document.getElementById(this.target);
                const { width: targetWidth } = $target.getBoundingClientRect();

                $attach.$el.style.width = `${targetWidth}px`;
            }
        },
        initFillWidth() {
            if (this.width === 'fill') {
                const $target = document.getElementById(this.target);
                this.ro$ = new ResizeObserver(() => {
                    this.fillWidth();
                });
                this.ro$.observe($target);

                this.fillWidth();
            }
        },
        destroyFillWidth() {
            if (this.width === 'fill') {
                this.ro$.disconnect();
            }
        },
        onShow() {
            this.initFillWidth();
        },
        onHide() {
            this.destroyFillWidth();
        }
    }
};
</script>

<style lang="stylus" scoped>
.app-dropdown {
    z-index: 50;
    cursor: default;
    padding: 8px 0;

    &__container {
        background-color: var(--color-white);
        box-shadow: $shadow-elevation-2;
    }

    &--width {
        &-medium {
            width: 280px;
        }

        &-large {
            width: 380px;
        }

        &-custom {
            width: auto;
        }
    }

    &-tr {
        &-enter-active {
            transition: opacity $transition-duration ease, transform $transition-duration ease;
        }

        &-enter, &-leave-to {
            opacity: 0;
        }
    }
}
</style>
