<template>
    <div class="app-input-helper">
        <slot></slot>
    </div>
</template>

<style lang="stylus" scoped>
.app-input-helper {
    font-size: $font-size-small;
    margin-top: 4px;
    color: var(--color-gray-1);
}
</style>
