<template>
    <label class="app-input">
        <input class="app-input__field"
               :class="computedFieldClass"
               :type="computedType"
               @input="onInput"
               v-on="computedListeners"
               v-bind="$attrs"
               ref="input"
               :readonly="readonly || readonlySilence">
    </label>
</template>

<script>
import { getExcludedObjectByProps } from '~/tools';

export default {
    inheritAttrs: false,
    props: {
        value: {
            default: ''
        },
        type: {
            type: String,
            default: 'text'
        },
        readonly: {
            type: Boolean,
            default: false
        },
        readonlySilence: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        computedListeners() {
            return getExcludedObjectByProps(this.$listeners, ['input']);
        },
        computedType() {
            if (this.type === 'number') {
                return 'text';
            }

            return this.type;
        },
        computedFieldClass() {
            const readonlySilence = this.readonlySilence ? 'app-input__field--readonly-silence' : '';
            return [readonlySilence];
        }
    },
    watch: {
        value(value) {
            this.setInputValue(value);
        }
    },
    methods: {
        onInput(e) {
            const inputValue = e.target.value;

            if (this.type === 'email') {
                const lowerCaseValue = inputValue.toLowerCase();
                return this.$emit('input', lowerCaseValue);
            }

            this.$emit('input', inputValue);
        },
        setInputValue(value) {
            const $input = this.$refs['input'];
            $input.value = value;
        }
    },
    mounted() {
        this.setInputValue(this.value);
    }
};
</script>

<style lang="stylus" scoped>
.app-input {
    position: relative;
    display: block;

    &__field {
        display: block;
        width: 100%;
        height: $input-size;
        background-color: var(--color-gray-4);
        box-shadow: inset 0 0 0 2px var(--color-gray-3);
        padding: 0 16px;
        set-placeholder-color(var(--color-gray-1));

        &[disabled] {
            background-color: var(--color-gray-3);
            color: var(--color-gray-2);
        }

        &[readonly]:not(&--readonly-silence) {
            cursor: text;
            background-color: var(--color-gray-3);
        }

        &[readonly]&--readonly-silence {
            cursor: pointer;
        }

        &:not([disabled]):not([readonly]), &--readonly-silence {
            &:hover {
                box-shadow: inset 0 0 0 2px var(--color-gray-2);
            }

            &:focus, &.app-attach--active {
                box-shadow: inset 0 0 0 2px var(--color-brand);
                background-color: var(--color-white);
            }
        }

        &.validation--invalid {
            box-shadow: inset 0 0 0 2px var(--color-danger);
        }
    }
}
</style>
