<template>
    <div class="app-icon"
         v-html="iconAsHTML"></div>
</template>

<script>
import checked from '!!raw-loader!~/assets/icons/checked.svg';
import dropdown from '!!raw-loader!~/assets/icons/dropdown.svg';

export default {
    props: {
        name: {
            type: String,
            required: true
        }
    },
    data() {
        return {
            icons: {
                checked,
                dropdown
            }
        };
    },
    computed: {
        iconAsHTML() {
            const icon = this.icons[this.name];
            return icon;
        }
    }
};
</script>

<style lang="stylus" scoped>
.app-icon {
    display: table;

    >>> svg {
        display: block;
    }
}
</style>
