<template>
    <label class="app-checkbox"
           :class="computedClass">
        <input :type="type"
               class="app-checkbox__field"
               v-model="localValue"
               :value="defaultValue"
               :disabled="disabled"
               v-bind="$attrs">
        <div class="app-checkbox__container">
            <div class="app-checkbox__box">
                <div class="app-checkbox__box-icon">
                    <app-icon name="checked"
                              v-if="isCheckbox"></app-icon>
                </div>
            </div>
            <div class="app-checkbox__label"
                 v-if="$slots.default">
                <slot></slot>
            </div>
        </div>
    </label>
</template>

<script>
import AppIcon from '~/components/AppIcon.vue';

export default {
    inheritAttrs: false,
    components: {
        AppIcon
    },
    props: {
        type: {
            type: String,
            default: 'checkbox',
            validator: (value) => ['checkbox', 'radio'].includes(value)
        },
        value: {
            type: [Boolean, String]
        },
        disabled: {
            type: Boolean,
            default: false
        },
        defaultValue: {
            type: String
        }
    },
    data() {
        return {
            localValue: ''
        };
    },
    watch: {
        localValue(value) {
            this.$emit('input', value);
        },
        value: {
            handler(value) {
                this.localValue = value;
            },
            immediate: true
        }
    },
    computed: {
        computedClass() {
            const type = `app-checkbox--type-${this.type}`;
            const disabled = this.disabled ? 'app-checkbox--disabled' : '';

            return [type, disabled];
        },
        isCheckbox() {
            const isCheckbox = this.type === 'checkbox';
            return isCheckbox;
        },
        isRadio() {
            const isRadio = this.type === 'radio';
            return isRadio;
        }
    }
};
</script>

<style lang="stylus" scoped>
.app-checkbox {
    display: inline-block;

    &:not(&--disabled) {
        cursor: pointer;
    }

    &--disabled {
        cursor: default;
    }

    is-checked() {
        .app-checkbox__field:checked + .app-checkbox__container & {
            {block};
        }
    }

    is-checked-disabled() {
        .app-checkbox--disabled .app-checkbox__field:checked + .app-checkbox__container & {
            {block};
        }
    }

    is-disabled() {
        .app-checkbox--disabled & {
            {block};
        }
    }

    is-not-disabled() {
        .app-checkbox:not(.app-checkbox--disabled) & {
            {block};
        }
    }

    is-hover() {
        .app-checkbox:hover & {
            {block};
        }
    }

    is-hover-not-disabled() {
        .app-checkbox:not(.app-checkbox--disabled):hover & {
            {block};
        }
    }

    is-checkbox() {
        .app-checkbox--type-checkbox & {
            {block};
        }
    }

    is-radio() {
        .app-checkbox--type-radio & {
            {block};
        }
    }

    &__field {
        position: absolute;
        height: 0;
        width: 0;
        left: -999999px;
    }

    &__container {
        display: inline-flex;
        align-items: flex-start;
    }

    &__box {
        $size = ($font-size-default * $line-height-default);
        height: $size;
        max-width: $size;
        min-width: $size;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: inset 0 0 0 2px var(--color-gray-3);
        background-color: var(--color-gray-4);

        +is-hover-not-disabled() {
            box-shadow: inset 0 0 0 2px var(--color-gray-2);
        }

        +is-radio() {
            border-radius: 100%;
        }

        +is-disabled() {
            box-shadow: inset 0 0 0 2px var(--color-gray-4);
        }

        +is-checked() {
            box-shadow: none;
            background-color: var(--color-brand);
        }

        +is-checked-disabled() {
            background-color: var(--color-gray-2);
        }

        &-icon {
            color: var(--color-white);
            transform: scale(0);
            opacity: 0;

            +is-radio() {
                height: 8px;
                width: 8px;
                border-radius: 100%;
                background-color: currentColor;
            }

            +is-checked() {
                transition: transform $transition-duration ease-in-out, opacity $transition-duration ease;
                transform: scale(1);
                opacity: 1;
            }
        }
    }

    &__label {
        padding-left: 12px;

        +is-disabled() {
            color: var(--color-gray-2);
        }
    }
}
</style>
