<template>
    <label class="app-label">
        <slot></slot>
    </label>
</template>

<style lang="stylus" scoped>
.app-label {
    display: block;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    margin-bottom: 6px;
    color: var(--color-gray-1);
}
</style>
