<template>
    <div class="app-range">
        <div ref="field"></div>
    </div>
</template>

<script>
import noUiSlider from 'nouislider';

export default {
    props: {
        min: {
            type: Number,
            required: true
        },
        max: {
            type: Number,
            required: true
        },
        step: {
            type: Number,
            default: 1
        },
        value: {
            type: [Number, Array],
            default: 0
        }
    },
    data() {
        return {
            field$: null
        };
    },
    computed: {
        isArray() {
            if (this.value instanceof Array) {
                return true;
            } else {
                return false;
            }
        }
    },
    methods: {
        setValue(values) {
            if (this.isArray) {
                const value = values.map((value) => parseFloat(value));
                this.$emit('input', value);
            } else {
                const value = parseFloat(values[0]);
                this.$emit('input', value);
            }
        },
        setFieldValue(value) {
            this.field$.set(value);
        },
        init() {
            const $field = this.$refs['field'];
            this.field$ = noUiSlider.create($field, {
                range: {
                    min: this.min,
                    max: this.max
                },
                step: this.step,
                start: this.value,
                connect: true
            });
        },
        onUpdate(values) {
            this.setValue(values);
        },
        bindEvents() {
            this.field$.on('update', this.onUpdate.bind(this));
        },
        unbindEvents() {
            this.field$.off();
        }
    },
    mounted() {
        this.init();
        this.bindEvents();
    },
    beforeDestroy() {
        this.unbindEvents();
    }
};
</script>

<style lang="stylus" scoped>
.app-range {
    $size = 24px;
    $track-size = 4px;

    >>> .noUi {
        &-target {
            height: $size;
            position: relative;

            &, * {
                make-no-touch();
                make-no-select();
            }

            &:before {
                content: '';
                display: block;
                height: $track-size;
                border-radius: $track-size;
                width: 100%;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                background-color: var(--color-gray-3);
            }
        }

        &-base {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 1;
        }

        &-origin, &-connect {
            position: absolute;
            will-change: transform;
            top: 0;
            left: auto;
            right: 0;
            height: 0;
            width: 10%;
            transform-origin: 0 0;
            transform-style: flat;
        }

        &-connects {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            overflow: hidden;
            width: 100%;
            height: $track-size;
            position: relative;
        }

        &-connect {
            height: 100%;
            width: 100%;
            background-color: var(--color-brand);
        }

        &-handle {
            position: absolute;
            left: auto;
            right: -17px;
            top: 0;
            height: $size;
            width: $size;
            border-radius: $size;
            background-color: var(--color-white);
            box-shadow: $shadow-elevation-2;
            backface-visibility: hidden;
            cursor: pointer;
            transition: box-shadow $transition-duration ease;

            &:hover {
                box-shadow: $shadow-elevation-3;
            }
        }

        &-touch-area {
            height: 100%;
            width: 100%;
            border-radius: 100%;
        }

        &-state-tap {
            .noUi-origin, .noUi-connect {
                transition: transform $transition-duration ease;
            }
        }
    }
}
</style>


