<template>
    <div class="app-select"
         v-if="id">
        <!--
        <select class="app-select__field"
                :id="id"></select>
        -->
        <div class="app-select-main">
            <app-input class="app-select-main__field"
                       :id="id"
                       :placeholder="placeholder"
                       :readonly-silence="true"
                       :value="activeOptionsAsString"></app-input>
            <app-icon class="app-select-main__icon"
                      name="dropdown"></app-icon>
        </div>
        <app-dropdown :target="id"
                      width="fill"
                      trigger="focus"
                      ref="dropdown">
            <app-dropdown-item v-for="option in options"
                               :key="option.value"
                               @click="onClickOption(option)">
                <slot name="option"
                      :value="option.value"
                      :label="option.label">
                    {{ option }}
                </slot>
                <template v-slot:icon-right>
                    <app-icon name="checked"
                              v-if="isActiveOption(option)"></app-icon>
                </template>
            </app-dropdown-item>
        </app-dropdown>
    </div>
</template>

<script>
import AppIcon from '~/components/AppIcon.vue';
import AppDropdown from '~/components/AppDropdown.vue';
import AppDropdownItem from '~/components/AppDropdown/AppDropdownItem.vue';
import AppInput from '~/components/AppInput.vue';

export default {
    components: {
        AppIcon,
        AppDropdown,
        AppDropdownItem,
        AppInput
    },
    props: {
        placeholder: {
            type: String,
            default: ''
        },
        options: {
            type: Array,
            required: true
        },
        value: {
            type: [String, Array]
        },
        multiple: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            id: null,
            activeOptions: []
        };
    },
    computed: {
        activeOptionsAsArray() {
            const optionsAsArray = this.activeOptions.map((option) => option.value);
            return optionsAsArray;
        },
        activeOptionsAsString() {
            const optionsAsString = this.activeOptions.map((option) => option.label || option.value).join(', ');
            return optionsAsString;
        }
    },
    watch: {
        activeOptions: {
            handler(options) {
                if (options) {
                    if (this.multiple) {
                        this.$emit('input', this.activeOptionsAsArray);
                    } else {
                        this.$emit('input', this.activeOptionsAsArray[0]);
                    }
                }
            },
            deep: true
        }
    },
    methods: {
        initId() {
            this.id = `app-select-field-${this._uid}`;
        },
        hide() {
            const $dropdown = this.$refs.dropdown;
            $dropdown.hide();
        },
        onClickOption(option) {
            if (this.multiple) {
                if (this.isActiveOption(option)) {
                    const index = this.activeOptions.findIndex((o) => o.value === option.value);
                    this.activeOptions.splice(index, 1);
                } else {
                    this.activeOptions.push(option);
                }
            } else {
                this.$set(this.activeOptions, 0, option);
                this.hide();
            }
        },
        isActiveOption(option) {
            const isActive = !!this.activeOptions.filter((o) => o.value === option.value)[0];
            return isActive;
        },
        getOptionByValue(value) {
            const option = this.options.filter((option) => option.value === value)[0];
            return option;
        },
        initValue() {
            if (this.multiple) {
                if (this.value instanceof Array) {
                    this.activeOptions = [];
                    this.value.map((value) => {
                        const option = this.getOptionByValue(value);
                        if (option) {
                            this.activeOptions.push(option);
                        }
                    });
                } else {
                    this.activeOptions = [];
                }
            } else {
                const option = this.getOptionByValue(this.value);
                if (option) {
                    this.activeOptions[0] = option;
                } else {
                    this.activeOptions = [];
                }
            }
        }
    },
    mounted() {
        this.initId();
        this.initValue();
    }
};
</script>

<style lang="stylus" scoped>
.app-select {
    &-main {
        position: relative;

        &__field {
            display: block;
            width: 100%;
            background-color: black;

            >>> .app-input__field {
                padding-right: 44px;
            }
        }

        &__icon {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
            color: var(--color-gray-2);
        }
    }
}
</style>
