<template>
    <label class="app-textarea">
        <textarea class="app-textarea__field"
                  @input="onInput"
                  v-on="computedListeners"
                  v-bind="$attrs"
                  ref="input"></textarea>
    </label>
</template>

<script>
import { getExcludedObjectByProps } from '~/tools';

export default {
    inheritAttrs: false,
    props: {
        value: {
            type: String,
            default: ''
        }
    },
    computed: {
        computedListeners() {
            return getExcludedObjectByProps(this.$listeners, ['input']);
        }
    },
    watch: {
        value(value) {
            this.setInputValue(value);
        }
    },
    methods: {
        onInput(e) {
            const inputValue = e.target.value;
            this.$emit('input', inputValue);
        },
        setInputValue(value) {
            const $input = this.$refs['input'];
            $input.value = value;
        }
    },
    mounted() {
        this.setInputValue(this.value);
    }
};
</script>

<style lang="stylus" scoped>
.app-textarea {
    $size = (($font-size-default * $line-height-default) * 6) + (12px * 2) + 2px;
    $min-size = $input-size;
    position: relative;
    display: block;

    &__field {
        display: block;
        width: 100%;
        background-color: var(--color-gray-4);
        border: 2px solid var(--color-gray-3);
        padding: 12px 16px;
        set-placeholder-color(var(--color-gray-1));
        height: $size;
        min-height: $min-size;
        resize: vertical;

        &[disabled] {
            background-color: var(--color-gray-3);
            color: var(--color-gray-2);
        }

        &[readonly] {
            cursor: text;
            background-color: var(--color-gray-3);
        }

        &:not([disabled]):not([readonly]) {
            &:hover {
                border-color: var(--color-gray-2);
            }

            &:focus {
                border-color: var(--color-brand);
                background-color: var(--color-white);
            }
        }

        &.validation--invalid {
            border-color: var(--color-danger);
        }
    }
}
</style>
