<template>
    <div v-if="message"
         class="app-validation-error">
        {{ message }}
    </div>
</template>

<script>
export default {
    props: {
        message: {
            type: String
        }
    }
};
</script>

<style lang="stylus" scoped>
.app-validation-error {
    color: red;
}
</style>