:root {
    --color-black: #272729;
    --color-white: #FFFFFF;
    --color-brand: #34d058;
    --color-brand-hover: #28a745;
    --color-danger: #FF695B;
    --color-danger-hover: #D7695C;
    --color-gray-1: #8D8F94;
    --color-gray-2: #BABDC2;
    --color-gray-3: #E6E7EB;
    --color-gray-4: #F0F2F5;
}